@model CarSaleManagement.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsedCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsedCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChassisNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChassisNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterReading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterReading)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
